<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="heading">
  <h1>Remote Controller for drone</h1>
</div>

<div class="dashboard">

<div class="drone-board">
  <div class="drone-stats outline">
    <h2 style="text-align: center;">Drone Stats</h2>
  </div>
  <div class="drone-controller outline">

  </div>

</div>

<div class="drone-map-view outline">
<app-mapview></app-mapview>
</div>
</div>

</body>
</html>

<router-outlet></router-outlet>