<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="heading">
  <h1>Remote Controller for drone</h1>
</div>

<div class="dashboard">

<div class="drone-board">
  <div class="drone-stats outline">
    <h2 style="text-align: center;">Drone Stats</h2>
   <p style="text-align: center;"> {{droneStatus}}</p>
    <!-- <p>latitude: {{latitude}}</p>
    <p>Longitude: {{longitude}}</p> -->
  </div>
  <div class="drone-controller ">
    <div (click)='moveDroneUp()' class="btn dc-up">
      ▲
    </div>
    <div class="dc-lr-grid">
      <div (click)='moveDroneLeft()' class="btn dc-left">
        ◄
      </div>
      <div (click)='moveDroneRight()'  class="btn dc-right">
        ►
      </div>
    </div>
    <div (click)='moveDroneDown()'  class="btn dc-down">
      ▼
    </div>
  </div>

</div>

<div class="drone-map-view outline">
  <div #mapContainer id="map"></div>
</div>
</div>

</body>
</html>

<router-outlet></router-outlet>