html,body {
    font-family: 'Press Start 2P', cursive;
}
#map {
    width: 100%;
    height: 100%;
}
.heading {
    text-align: center;
    h1 {
        font-size: 3rem;
        background: yellow;
    }
}
.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;

    div {
        min-height: 100px;
        min-width: 100px;
    }
    .drone-board {
        display: grid;
        gap: 1rem;
    }
    .drone-map-view {
        min-height: 80vh;
    }
}
.outline {
    border: 1px solid black;
    border-radius: 4px;
}
.btn {
    // background:pink;
    font-size: 5rem;
    border: 10px solid rgb(132, 0, 255);
    border-radius: 14px;
    color: black;
}
.btn:hover {
    background: rgb(132, 0, 255);
    color: rgb(251, 255, 11);
    cursor: pointer;
}

.drone-controller {
    display: grid;
    gap: 10px;
    .dc-lr-grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        
    }
    .dc-left,.dc-right,.dc-up,.dc-down {
        text-align: center;
    }
}
